<!-- product category -->
<section id="aa-product-details">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="aa-product-details-area">
          <!-- Related product -->
          <div class="aa-product-related-item">
            <h3>Related Products</h3>
            <div class="container">
              <div class="row">
                <div class="col-md-4"
                  *ngFor="let product of products$ | async | paginate: { itemsPerPage: 6, currentPage: page }">
                  <div class="card mb-4 shadow-sm">
                    <img *ngIf="product.productPhoto" [src]="'data:Image/jpg;base64,' + product.productPhoto"
                      alt="image" class="bd-placeholder-img card-img-top" style="width: 100% ;height: 350px;"
                      aria-label="Placeholder: Thumbnail" />
                    <div class="card-body">
                      <h1 ngbTooltip="Product Name">{{product.productName}}</h1>
                      <p ngbTooltip="ProductPrice " class="price">{{product.productPrice}} LE</p>
                      <p ngbTooltip="Product Description">{{product.productDescription}}</p>
                      <p ngbTooltip="Product Rating">
                        <ngb-rating [(rate)]="product.rating" [readonly]="true">
                          <ng-template let-fill="fill" let-index="index">
                            <span class="star" [class.filled]="fill === 100" [class.bad]="index < 3">&#9733;</span>
                          </ng-template>
                        </ngb-rating>
                      </p>
                      <div class="row">
                        <p ngbTooltip="Product Searched Number" class="col-md-3">{{product.searchCount}}</p>
                        <p ngbTooltip="Product Seel Number" class="col-md-3">{{product.sellCount}}</p>
                        <p ngbTooltip="Product Likes Number" class="col-md-3">{{product.likes}}</p>
                        <p ngbTooltip="Product Views Number" class="col-md-3">{{product.productViews}}</p>
                      </div>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="aa-prod-view-bottom">
                          <button type="button" class="aa-add-to-cart-btn" (click)="view(product.productId)"
                            ngbTooltip="click to view more Details about this Product">View</button>
                          <button type="button" ngbTooltip="Add this Product to your Cart" class="aa-add-to-cart-btn"
                            (click)="addToCart(product)">Add To Cart </button>
                        </div>
                        <small class="text-muted">{{product.productDate | date}}</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <pagination-controls class="d-flex justify-content-center" style="font-size: 22px"
                (pageChange)="page = $event" directionLinks="true" autoHide="true" responsive="true"
                previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination"
                screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
              </pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / product category -->
